<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Guardería{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Guardería</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Inicio</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('logout') }}">Cerrar Sesión</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Iniciar Sesión</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Aquí irá el contenido específico de cada página -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Guardería</p>
    </footer>
</body>
</html>
